# Git ignores for the crystals project.

# Ignore compiled Python bytecode
*.pyc

# Ignore directories of log files or saved crystal distributions.
Logs/
SavedDistributions/

# Ignore PyCharm ".idea" directories
.idea/

# Other specific files to ignore
.DS_Store
