# Git ignores for the crystals project.

# Ignore compiled Python bytecode
*.pyc

# Ignore directories of log files, saved crystal distributions, and other
# debugging information.
Logs/
SavedDistributions/
Debugging/

# Ignore PyCharm ".idea" directories
.idea/

# Other specific files to ignore
.DS_Store
